<!-- contact.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include("partials/_header") %>

    <head>
        <title>Uvote - Contact </title>
        <link rel="stylesheet" href="/css/loaderstyle.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/contactsyle.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://kit.fontawesome.com/00541e821b.js" crossorigin="anonymous"></script>
        </link>
    </head>

    <body>
        <div class="img">
            <div class="loader-wrapper">
                <span class="loader"><span class="loader-inner"></span></span>
              </div>
            <%- include("partials/_menu") %>
                <section>
                    <div class="text-contact">
                        <h2> Contact Us</h2>
                    </div>
                    <form id="request" class="main_form" action="/contact" method="POST">
                        <div class="col-md-12">
                            <div style="display:none;" class="alert alert-success" id="sendMessage"></div>
                        </div>
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required>

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>

                        <label for="message">Message:</label>
                        <textarea id="message" name="message" rows="4" required></textarea>

                        <button type="submit">Submit</button>
                    </form>
                </section>
        </div>
        <script>
            // Show the loader immediately when the document starts loading
            $(window).on("beforeunload", function () {
                $(".loader-wrapper").fadeIn("slow");
            });
        
            // Hide the loader once all resources are loaded
            $(window).on("load", function () {
                $(".loader-wrapper").fadeOut("slow");
            });
        </script>
        <script src="/scripts/contactscript.js"></script>
    </body>

</html>