<!DOCTYPE html>
<html lang="en">
<%- include("partials/_header") %>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="/css/loaderstyle.css">
    <link rel="stylesheet" href="/css/dashboardstyle.css" />
    <title>Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <script>
        function redirectToProfile() {

            window.location.href = "/users/profile";
        }
    </script>
  </head>

  <body>
    <div class="img">
      <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
      </div>
      <%- include("partials/_menu") %>
        <div>
          <div class="profile-box" onclick="redirectToProfile()">
            <div>
                <b>
                    Welcome Back <%= user.fullname %>!
                </b>
            </div>
        </div>
          <div class="containerall">
            <div class="container">
              <b class="project-deadline"> VOTING WILL BE CLOSED IN: </b>
            </div>
            <div class="clock">
              <div class="days">
                <div class="first">
                  <div class="number"></div>
                </div>
                <div class="second">
                  <div class="number"></div>
                </div>
              </div>

              <div class="tick">:</div>

              <div class="hours">
                <div class="first">
                  <div class="number"></div>
                </div>
                <div class="second">
                  <div class="number"></div>
                </div>
              </div>
              <div class="tick">:</div>

              <div class="minutes">
                <div class="first">
                  <div class="number"></div>
                </div>
                <div class="second">
                  <div class="number"></div>
                </div>
              </div>
              <div class="tick">:</div>
              <div class="seconds">
                <div class="first">
                  <div class="number"></div>
                </div>
                <div class="second infinite">
                  <div class="number"></div>
                </div>
              </div>
            </div>
            <div class="container2">
              <div class="labels-container">
                <div class="label" id="days-label">Days</div>
                <div class="label" id="hours-label">Hours</div>
                <div class="label" id="minutes-label">Minutes</div>
                <div class="label" id="seconds-label">Seconds</div>
              </div>
            </div>
          </div>
        </div>
    </div>

  </body>
  <script>
    // Show the loader immediately when the document starts loading
    $(window).on("beforeunload", function () {
        $(".loader-wrapper").fadeIn("slow");
    });

    // Hide the loader once all resources are loaded
    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });
</script>
  <script>
    var daysContainer = document.querySelector('.days')
    var hoursContainer = document.querySelector('.hours')
    var minutesContainer = document.querySelector('.minutes')
    var secondsContainer = document.querySelector('.seconds')


    var targetTime = new Date(2024, 0, 4, 19, 30, 0);

    function updateTime() {
  var now = new Date();

  var timeDifference = targetTime - now;

  if (timeDifference <= 0) {
    // Eğer hedef tarih geçmişse, geri sayımı durdur
    clearInterval(updateInterval);
    return;
  }

  var days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
  var remainingTime = timeDifference % (1000 * 60 * 60 * 24);

  var hours = Math.floor(remainingTime / (1000 * 60 * 60));
  var minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

  updateContainer(daysContainer, days);
  updateContainer(hoursContainer, hours);
  updateContainer(minutesContainer, minutes);
  updateContainer(secondsContainer, seconds);
}

    function updateContainer(container, newTime) {
      var time = newTime.toString().split('');

      if (time.length === 1) {
        time.unshift('0');
      }

      var first = container.firstElementChild;
      if (first.lastElementChild.textContent !== time[0]) {
        updateNumber(first, time[0]);
      }

      var last = container.lastElementChild;
      if (last.lastElementChild.textContent !== time[1]) {
        updateNumber(last, time[1]);
      }
    }

    function updateNumber(element, number) {
      var second = element.lastElementChild.cloneNode(true);
      second.textContent = number;

      element.appendChild(second);
      element.classList.add('move');

      setTimeout(function () {
        element.classList.remove('move');
      }, 990);

      setTimeout(function () {
        element.removeChild(element.firstElementChild);
      }, 990);
    }

    var updateInterval = setInterval(updateTime, 1000);
    updateTime();
  </script>

</html>