<!DOCTYPE html>
<html lang="en">
<%- include("partials/_header") %>

  <head>

    <title>UVote - Student Project Evaluation</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/loaderstyle.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/indexstyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://kit.fontawesome.com/00541e821b.js" crossorigin="anonymous"></script>
    </link>

  </head>
  <body>
    <div class="img">
      <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
      </div>
      <%- include("partials/_menu") %>
        <div class="container">
          <div class="content">
            <h2 class="body-logo"><i class='bx bxs-objects-vertical-bottom'></i>Uvote</h2>
            <div class="text-sci">
              <h2> A website to determine student term project.</h2>
              <p>With this website,
                you will be able to evaluate and vote on projects
                prepared by students in groups.</p>
            </div>
            <div class="sign-up-in-box">
              <div class="container">
                <div class="row full-height justify-content-center">
                  <div class="col-12 text-center align-self-center py-5">
                    <div class="alpha section pb-5 pt-5 pt-sm-2 text-center">
                      <h6 class="mb-0 pb-3"
                        style="position: relative; bottom: 14px; font-size: 25px; font-weight: bold;">
                        <span>Log In </span><span>Sign Up</span>
                      </h6>
                      <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                      <label for="reg-log" style="position: relative; bottom: 14px;"></label>
                      <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                          <div class="card-front">
                            <div class="center-wrap">
                              <div class="section text-center">
                                <form id="loginForm" action="users/login" method="post">
                                  <h4 class="mb-4 pb-3">Log In</h4>
                                  <div class="form-group">
                                    <input type="email" class="form-style" placeholder="Email" name="email">
                                    <i class="input-icon uil uil-at"></i>
                                  </div>
                                  <div class="form-group mt-2">
                                    <input type="password" class="form-style" placeholder="Password" name="password">
                                    <i class="input-icon uil uil-lock-alt"></i>
                                  </div>
                                  <button type="submit" class="btn mt-4">Login</button>
                                  <p class="mb-0 mt-4 text-center"><a href="/contact" class="link">Forgot your
                                      password?</a></p>
                                </form>
                              </div>
                            </div>
                          </div>
                          <div class="card-back">
                            <div class="center-wrap">
                              <div class="section text-center">
                                <form id="signup-Form" action="users/signup" method="post">
                                  <h4 class="mb-3 pb-3" style="position: relative; top: 14px;">Sign Up</h4>
                                  <div class="form-group">
                                    <input type="text" class="form-style" placeholder="Full Name" name="fullname">
                                    <i class="input-icon uil uil-user"></i>
                                  </div>
                                  <div class="col-md-12">
                                    <div style="display: none;" class="alert alert-danger" id="fullname"></div>
                                  </div>
                                  <div class="form-group mt-2">
                                    <input type="tel" class="form-style" placeholder="Student ID" name="stuid">
                                    <i class="input-icon uil fas fa-id-card" style="top: 13px;"></i>
                                  </div>
                                  <div class="col-md-12">
                                    <div style="display: none;" class="alert alert-danger" id="stuid"></div>
                                  </div>
                                  <div class="form-group mt-2">
                                    <input type="email" class="form-style" placeholder="Email" name="email">
                                    <i class="input-icon uil uil-at"></i>
                                  </div>
                                  <div class="col-md-12">
                                    <div style="display: none;" class="alert alert-danger" id="email"></div>
                                  </div>
                                  <div class="form-group mt-2">
                                    <input type="password" class="form-style" placeholder="Password" name="password">
                                    <i class="input-icon uil uil-lock-alt"></i>
                                  </div>
                                  <div class="col-md-12">
                                    <div style="display: none;" class="alert alert-danger" id="password"></div>
                                  </div>
                                  <button type="submit" class="btn mt-4">Sign Up</button>
                                </form>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          // Show the loader immediately when the document starts loading
          $(window).on("beforeunload", function () {
              $(".loader-wrapper").fadeIn("slow");
          });
      
          // Hide the loader once all resources are loaded
          $(window).on("load", function () {
              $(".loader-wrapper").fadeOut("slow");
          });
      </script>
        <script src="/scripts/indexscript.js"></script>
  </body>

</html>